nav {
  justify-content: center;
  display: flex;
}

.title {
  text-align: center;
  margin-top: 3%;
}

.main-para {
  margin: 5%;
  text-align: center;
}
.main-para p {
  margin-bottom: 50px; /* Add space between paragraphs */
}

/* Mortgage Css */

.container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between; /* Adjust alignment as needed */
  align-items: flex-start; /* Adjust alignment as needed */
  background-color: rgb(227, 227, 227);
  padding: 2%;
  border: 3px solid #ccc; /* Add border with color #ccc */
}

.form-container {
  width: 60%; /* Adjust width as needed */
  display: flex;
  flex-direction: column; /* Display inputs in columns */
}

.input-container {
  margin-bottom: 15%; /* Add space between input groups */
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input-container label,
.input-container input {
  margin-bottom: 2%; /* Add space between each label and input */
}
.result-container {
  width: 30%; /* Adjust width as needed */
}

#result {
  font-size: 24px; /* Adjust font size as needed */
  font-style: italic;
  font-weight: bolder;
}
